name: 'build and deploy server'
on:
    push:
        branches: [ master ]
jobs:
    build:
        name: 'Build & Publish'
        runs-on: ubuntu-latest
        steps:
            -   name: "Checkout repository"
                uses: actions/checkout@v2

            -   name: "Set up QEMU"
                uses: docker/setup-qemu-action@v1

            -   name: "Set up Docker Buildx"
                uses: docker/setup-buildx-action@v1

            -   name: "Login to GitHub Registry"
                uses: docker/login-action@v1
                with:
                    registry: ghcr.io
                    username: "snailhead"
                    password: ${{ secrets.REGISTRY_TOKEN }}

            -   name: "Build&Deploy crm"
                uses: docker/build-push-action@v2
                with:
                    context: .
                    file: ./CRMCQRS.API/Dockerfile
                    push: true
                    tags: |
                        ghcr.io/snailhead/crmcqrs:latest
                    secrets: |
                        "ASPNETCORE_ENVIRONMENT=Release"
                    build-args: |
                        build_mode=Release

            -   name: "Run deploy on server"
                uses: appleboy/ssh-action@master
                with:
                    host: ${{ secrets.SERVER_HOST }}
                    username: ${{ secrets.SERVER_USERNAME }}
                    key: ${{ secrets.SERVER_KEY }}
                    port: ${{ secrets.SERVER_PORT }}
                    passphrase : ${{ secrets.PASSPHRASE }}
                    script: |
                        cd ~/crm
                        sudo docker compose pull
                        sudo docker compose up -d